<% if item.errors.any? %>
  <%= item.errors.count %>errors prohibited this object from being saved:
  <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>